{% for post in site.categories.travel %}
<article class="post-mto">
    {% if post.featured_image %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="post-thumbnail"><img src="{{ post.featured_image }}" alt="{% if post.featured_image_alt %}{{ post.featured_image_alt }}{% else %}{{ post.title }}{% endif %}"></a>
    {% endif %}
    <div class="date"><time class="post-date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time></div>
    <div class="entry-box">
        <header class="entry-header">
            <h2 class="entry-title"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{ post.title }}</a></h2>
        </header><!-- .entry-header -->
    </div><!-- .entry-box -->
</article><!-- .post -->
{% endfor %}